parameters:
    level: 9

    bootstrapFiles:
        - config/bootstrap.php

    paths:
        - config
        - src
        - packages/Core/config
        - packages/Core/src
        - packages/Core/tests
        - packages/Debugger/src
        - packages/Debugger/tests
        - templates
        - webroot

    excludePaths:
        - src/Console
