parameters:
    level: 9
    paths:
        - src
        - tests

    bootstrapFiles:
        - config/bootstrap.php

    treatPhpDocTypesAsCertain: false

    excludePaths:
        - src/old (?)
        - tests/Tests/old (?)